/*
* Dummy Maintenence Page
* Author: Aditya Chauhan
* Website: https://cloudxtech.io/
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,
body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  height: 100%;
  background: #eeeef4;
  font-weight: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  height: 100%;
  display: flex;
  margin: 0 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  font-size: 3em;
  font-weight: 300;
  color: #b73093;
  margin: 0;
}

main h2 {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 0;
}

main h3 {
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 0;
}

main a {
  font-size: 1.5em;
  font-weight: 300;
  color: #b73093;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 10px;
  font-weight: 300;
}

figure img {
  width: 100%;
}

figure {
  width: 170px;
  position: fixed;
  top: 110px;
}

@media screen and (max-width:767px) {
  figure {
    width: 170px;
    position: unset;
    top: unset;
    margin-bottom: 80px;
  }
}

@media screen and (max-width:576px) {
  figure {
    margin-bottom: 50px;
  }
}

@media screen and (max-width:480px) {
  main h1 {
    font-size: 2em;
  }
  main h2,
  main h3,
  main a {
    font-size: 1.2em;
  }

}
