* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.qr_sec {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 0;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.3) 0%,
    rgba(253, 29, 29, 0.5) 50%,
    rgba(252, 176, 69, 0.5) 100%
  );
}
.row > div {
  margin-bottom: 24px;
}
.box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 25px;
  color: #111;
}
textarea,
input {
  border: 1px solid #ccc;
  padding: 15px;
  width: 100%;
}
canvas {
  max-width: 100%;
}
.btn {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 10px 40px;
  background-color: #000;
  margin-top: 25px;
  border-radius: 5px;
  background-color: #000;
  opacity: 0.75;
  width: 200px;
  max-width: 100%;
}
.btn:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
}
.qr_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  display: none;
}
.qr_wrap:has(p),
.qr_wrap:has(canvas) {
  display: flex;
}
.qr_wrap .btn {
  display: none;
}
.qr_wrap:has(canvas) .btn {
  display: block;
}
#qrcode {
  margin-top: 25px;
}
