*{
    margin: 0px;
    box-sizing: border-box;
}

body,
html{
    overflow-x:hidden;
}

body{
    padding: 0 150px;
}

.wrap {
    width: 100%;
    display: flex;
}

.holder01 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    position: absolute;
    animation: mymove 100s linear infinite;
    left: 0;
    top: 0;
    background: #fff;
}

.holder02 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    position: absolute;
    animation: mymove01 100s linear infinite;
    left: 100%;
    top: 0px;
    background: #fff;
}

.item {
    width: 10%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.wrap:hover .team-members{
    animation-play-state: paused;
}

@keyframes mymove {
    0% {
        left: 0%;
    }

    49% {
        left: -100%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes mymove01 {
    0% {
        left: 100%;
    }

    49% {
        left: 0%;
    }

    100% {
        left: -100%;
    }
}




.team-members ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    width: 100%;
}

.team-members li {
    overflow: hidden;
    width: calc(100% / 7);
    padding: 10px;
    height: 270px;
}

.team-members li figure {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    flex: 1 0 auto;
}

.team-members li figure img {
    max-width: 100%;
}

.team-members li:nth-child(3n+1) figure {
    background-color: #dee1ec;
}

.team-members li:nth-child(3n+2) figure {
    background-color: #fcf4f2;
}

.team-members li:nth-child(3n+3) figure {
    background-color: #e4f4ea;
}